$border-color: skyblue;
$black-color: #000;
$backdrop-color: rgba(0, 0, 0, 0.5);
$white-color: #fff;
$hover-inventory-item-color: rgba(0, 191, 255, 0.18);
$selected-inventory-item-color: rgba(0, 191, 255, 0.57);
