@import "../../utils";

.backdrop {
  background: $backdrop-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modal {
  z-index: 1000;
  position: fixed;
  left: 50%;
  margin-top: 100px;
  min-width: 80%;
  padding: 20px 20px 0px 20px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: $white-color;
}

.header-row {
  display: flex;
  justify-content: space-between;

  .title {
    color: $black-color;
    font-weight: 700;
  }

  img {
    cursor: pointer;
  }
}
